$primary: #FF4E39;
$secondary:#5F7A9E;
$alt:#F2C94C;

$light0: white;

$dark0: black;

$fontPrimary: 'Hurme-Geometric-Sans-No.4';
$fontSecondary: 'OpenSans';

@mixin primaryP() {
    font-family: $fontPrimary;
    color: $dark1;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.3px;
}

.bodyText {
    @include primaryP();
}